<mat-base-table
  [tableData]="list"
  [displayedColumns]="displayedColumns"
  [length]="list.length"
  [pageSize]="pageSize"
  [currentPage]="currentPage"
  (handleRowAction)="handleRowAction($event)"
  (onConfirmModal)="deleteUser($event)"
>
</mat-base-table>

<ng-template #statusTemplate let-element [let-onValueChange]="onValueChange">
  <switch
    [control]="statusControl"
    [label]="'Status'"
    (onValueChange)="onValueChange(element, $event)"
    [checked]="element.basicInfo?.status || false"
  />
</ng-template>
