<mat-base-table
  [tableData]="list"
  [displayedColumns]="displayedColumns"
  [length]="list.length"
  [pageSize]="pageSize"
  [currentPage]="currentPage"
  (handleRowAction)="handleRowAction($event)"
  (onConfirmModal)="deleteUser($event)"
>
</mat-base-table>

<ng-template #statusTemplate let-element [let-onValueChange]="onValueChange">
  <app-status
    label="Status"
    (onValueChange)="onValueChange(element, $event)"
    [checked]="element.basicInfo.status"
  ></app-status>
</ng-template>
