<div class="header">
  <div class="header-left">
    <h2>
      User Details : <span class="user-name">{{ title }}</span>
    </h2>
  </div>
  <div class="header-right">
    <button mat-flat-button color="primary" (click)="onSave.emit()">
      Save
    </button>
    <button
      mat-flat-button
      color="warning"
      (click)="onApplyLeave.emit()"
      [disabled]="disableLeave"
    >
      Apply Leave
    </button>

    <ng-container *ngIf="renderTemplate">
      <ng-template></ng-template>
    </ng-container>
    <button mat-flat-button (click)="onCancel.emit()">Cancel</button>
  </div>
</div>
