<div class="header">
  <div class="header-left">
    <h2>Leave Form <span class="user-name">User 1</span></h2>
    <p class="subheading">Primary Contact Info</p>
  </div>
  <div class="header-right">
    <button mat-flat-button color="primary" (click)="onSave.emit()">
      Save
    </button>
    <button mat-flat-button color="warning" (click)="onApplyLeave.emit()">
      Apply Leave
    </button>

    <ng-container *ngIf="renderTemplate">
      <ng-template></ng-template>
    </ng-container>
    <button mat-flat-button (click)="onCancel.emit()">Cancel</button>
  </div>
</div>
