<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container
      *ngFor="let column of displayedColumns; let i = index"
      matColumnDef="{{ column.header }}"
    >
      <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!column.actions && !column.format">
          {{ element[column.field] }}
        </ng-container>
        <ng-container *ngIf="column.format">
          {{ column.format(element[column.field]) }}
        </ng-container>
        <ng-container *ngIf="column.actions">
          <ng-container *ngFor="let action of column.actions" mat-button>
            <ng-container *ngIf="action.icon">
              <mat-icon
                class="actionIcon"
                [fontIcon]="action.icon"
                [color]="action.iconColor"
                (click)="handleAction(action.action, element, action.header)"
              ></mat-icon>
            </ng-container>
            <ng-container *ngIf="!action.icon">
              <button
                (click)="handleAction(action.action, element, action.header)"
                type="button"
              >
                {{ action.label }}
              </button>
            </ng-container>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="headers"></tr>
    <tr mat-row *matRowDef="let row; columns: headers"></tr>
  </table>
</div>
<mat-pagination
  [length]="length"
  [pageSize]="pageSize"
  [currentPage]="currentPage"
  (onPaginationChange)="onPaginationChange($event)"
></mat-pagination>
