<details-header
  (onSave)="onSubmit()"
  [title]="
    currentUser?.basicInfo?.firstName
      | concatString : [currentUser?.basicInfo?.lastName] : 'New User'
  "
  [disableLeave]="!currentUser"
  (onCancel)="onCancel()"
  (onApplyLeave)="applyLeave()"
  [enableApplyLeave]="true"
  [header]="currentUser ? 'Update User' : 'Create User'"
></details-header>
<form [formGroup]="userForm">
  <div class="section-container">
    <div class="section">
      <basic-info
        [fromGroup]="userForm.get('basicInfo')"
        [readonly]="isViewMode"
      ></basic-info>
    </div>
    <div class="section">
      <primary-contact-info
        [fromGroup]="userForm.get('primaryContactInfo')"
        [readonly]="isViewMode"
      ></primary-contact-info>
    </div>

    <div class="section">
      <secondary-contact-info
        [fromGroup]="userForm.get('secondaryContactInfo')"
        [readonly]="
          userForm.get('secondaryContactInfo').get('usePrimaryContact').value ||
          isViewMode
        "
        [viewMode]="isViewMode"
      ></secondary-contact-info>
    </div>
  </div>
</form>
