<div class="app-bar-container">
  <div class="logo-section">
    <img src="assets/logo.jpg" alt="logo" class="logo" />
    <ul class="nav-items">
      <li class="nav-item" *ngFor="let navItem of navItems">
        <a
          class="nav-link"
          routerLink="{{ navItem.navigateTo }}"
          routerLinkActive="active-link"
          >{{ navItem.name }}</a
        >
      </li>
    </ul>
  </div>
  <div class="action-section">
    <button type="button" class="btn add-details" routerLink="/users/details">
      Add Details
    </button>
    <mat-icon class="home-icon" fontIcon="sentiment_satisfied"></mat-icon>
  </div>
</div>
