<div class="pagination">
  <button
    class="pagination-button"
    id="prev"
    disabled="{{ currentPage ?? 0 <= 1 }}"
    (click)="changePage((currentPage ?? 0) - 1)"
  >
    Previous
  </button>
  <span id="page-numbers"></span>
  <button
    class="pagination-button"
    id="next"
    (click)="changePage((currentPage ?? 0) + 1)"
    disabled="{{ currentPage ?? 0 >= (totalPages ?? 0) }}"
  >
    Next
  </button>
  <select
    id="rows-per-page"
    class="rows-select"
    (change)="changePageSize($event)"
  >
    <option value="5">5 rows</option>
    <option value="10" selected>10 rows</option>
    <option value="15">15 rows</option>
  </select>
</div>
