<mat-form-field class="example-full-width">
  <mat-label>{{ label }}</mat-label>
  <input
    [type]="type"
    matInput
    [formControl]="control"
    [placeholder]="placeholder || label"
    (keydown)="onValueChange.emit(control.value)"
    [readonly]="readonly"
    [disabled]="disabled"
  />
  <mat-error *ngIf="control?.invalid && (control?.touched || control?.dirty)">
    <span
      *ngIf="!control.valid"
      >{{ {control} | formErrorMessage : label }}</span
    >
  </mat-error>
</mat-form-field>
