<mat-form-field class="example-full-width">
  <mat-label>{{ label }}</mat-label>
  <input
    [type]="type"
    matInput
    [formControl]="control"
    [placeholder]="placeholder || label"
    (keydown)="onValueChange.emit(control.value)"
    [readonly]="readonly"
    [disabled]="disabled"
  />
  <mat-error *ngIf="control?.invalid && (control?.touched || control?.dirty)">
    <span *ngIf="control?.errors?.['required']">{{ label }} is required.</span>
    <span *ngIf="control?.errors?.['email']"
      >Please enter a valid email address.</span
    >
    <span *ngIf="control?.errors?.['minlength']">
      Minimum length is
      {{ control.errors["minlength"].requiredLength }} characters.
    </span>
  </mat-error>
</mat-form-field>
