<details-header
  (onSave)="onSubmit()"
  [title]="
    currentUser?.basicInfo?.firstName
      | concatString : [currentUser?.basicInfo?.lastName]
  "
  [disableLeave]="!currentUser"
  (onCancel)="onCancel()"
  header="Leave Form"
></details-header>
<form [formGroup]="leaveForm">
  <div class="section-container">
    <div class="section">
      <input-field
        [name]="'typeOfLeave'"
        [label]="'Type of leave'"
        [control]="leaveForm.get('typeOfLeave')"
      >
      </input-field>
      <text-area
        [name]="'comments'"
        [label]="'Comments'"
        [control]="leaveForm.get('comments')"
      ></text-area>
      <date-field
        [name]="'startDate'"
        [label]="'Start Date'"
        [control]="leaveForm.get('startDate')"
      ></date-field>
      <date-field
        [name]="'endDate'"
        [label]="'End Date'"
        [control]="leaveForm.get('endDate')"
        [error]="
          this.leaveForm.errors?.['dateExceeds']
            ? this.leaveForm.errors?.['dateExceeds']?.error
            : null
        "
      ></date-field>
    </div>
  </div>
</form>
